fastapi
uvicorn[standard]
pydantic
firebase-admin
runpod
requests
pillow
photomaker
diffusers==0.29.1
huggingface_hub
controlnet_aux
PIL
insightface==0.7.3
onnxruntime
accelerate
peft
safetensors
omegaconf
torch
numpy
torchvision
google.generativeai
git+https://github.com/TencentARC/PhotoMaker.git